
@mixin grid($cols, $mgn){
    float: left;
    margin-right : $mgn;
    margin-bottom : $mgn;

    width: ((100% - (($cols - 1)* $mgn))/$cols);
    &:nth-child(#{$cols}n){
        margin-right:0;
    }
    img{
        width: 100%;
    }
}

/* '...' means that the numbers of argument is uncertain,
 it will put value into a list for each arg that passed through
 */
@mixin mediaQueries($arg...){

    @if length($arg) == 1{
            @media screen and (max-width: nth($arg, 1)){
                @content;
            }
    }
    

    @if length($arg) ==2{
        @media screen and (max-width:nth($arg, 1)) and (min-width:nth($arg,2)){
            @content;
        }
    }

}